html {
	background-color: #FFFFFF;
}

body {
        color: #000000;
	border: 0;
}

#menu {

	border: 0;
}

a, a:visited {
	color: #3333FF;
}

hr {
    border: 0;
    color: #bc9566;
    height: 3px;
}
