.haskell .hll { background-color: #ffffcc }
.haskell  { background: #ffffff; }
.haskell .c { color: #408080; font-style: italic } /* Comment */
.haskell .err { border: 1px solid #FF0000 } /* Error */
.haskell .k { color: #008000; font-weight: bold } /* Keyword */
.haskell .o { color: #666666 } /* Operator */
.haskell .cm { color: #408080; font-style: italic } /* Comment.Multiline */
.haskell .cp { color: #BC7A00 } /* Comment.Preproc */
.haskell .c1 { color: #408080; font-style: italic } /* Comment.Single */
.haskell .cs { color: #408080; font-style: italic } /* Comment.Special */
.haskell .gd { color: #A00000 } /* Generic.Deleted */
.haskell .ge { font-style: italic } /* Generic.Emph */
.haskell .gr { color: #FF0000 } /* Generic.Error */
.haskell .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.haskell .gi { color: #00A000 } /* Generic.Inserted */
.haskell .go { color: #808080 } /* Generic.Output */
.haskell .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.haskell .gs { font-weight: bold } /* Generic.Strong */
.haskell .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.haskell .gt { color: #0040D0 } /* Generic.Traceback */
.haskell .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.haskell .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.haskell .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.haskell .kp { color: #008000 } /* Keyword.Pseudo */
.haskell .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.haskell .kt { color: #B00040 } /* Keyword.Type */
.haskell .m { color: #666666 } /* Literal.Number */
.haskell .s { color: #BA2121 } /* Literal.String */
.haskell .na { color: #7D9029 } /* Name.Attribute */
.haskell .nb { color: #008000 } /* Name.Builtin */
.haskell .nc { color: #0000FF; font-weight: bold } /* Name.Class */
.haskell .no { color: #880000 } /* Name.Constant */
.haskell .nd { color: #AA22FF } /* Name.Decorator */
.haskell .ni { color: #999999; font-weight: bold } /* Name.Entity */
.haskell .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.haskell .nf { color: #0000FF } /* Name.Function */
.haskell .nl { color: #A0A000 } /* Name.Label */
.haskell .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.haskell .nt { color: #008000; font-weight: bold } /* Name.Tag */
.haskell .nv { color: #19177C } /* Name.Variable */
.haskell .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.haskell .w { color: #bbbbbb } /* Text.Whitespace */
.haskell .mf { color: #666666 } /* Literal.Number.Float */
.haskell .mh { color: #666666 } /* Literal.Number.Hex */
.haskell .mi { color: #666666 } /* Literal.Number.Integer */
.haskell .mo { color: #666666 } /* Literal.Number.Oct */
.haskell .sb { color: #BA2121 } /* Literal.String.Backtick */
.haskell .sc { color: #BA2121 } /* Literal.String.Char */
.haskell .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.haskell .s2 { color: #BA2121 } /* Literal.String.Double */
.haskell .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.haskell .sh { color: #BA2121 } /* Literal.String.Heredoc */
.haskell .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.haskell .sx { color: #008000 } /* Literal.String.Other */
.haskell .sr { color: #BB6688 } /* Literal.String.Regex */
.haskell .s1 { color: #BA2121 } /* Literal.String.Single */
.haskell .ss { color: #19177C } /* Literal.String.Symbol */
.haskell .bp { color: #008000 } /* Name.Builtin.Pseudo */
.haskell .vc { color: #19177C } /* Name.Variable.Class */
.haskell .vg { color: #19177C } /* Name.Variable.Global */
.haskell .vi { color: #19177C } /* Name.Variable.Instance */
.haskell .il { color: #666666 } /* Literal.Number.Integer.Long */

.span .haskell { width: 300px; }