<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<title>{{ page.title }}</title>
<style type="text/css" media="screen">
@import '/css/reset.css';
@import '/css/main.css';
@import '/css/colors.css';
@import '/css/pygments/default.css';
</style>
      <link href='http://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
</head>

<body>
      <script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
      </script>

<h1 id="title">
<a name="top"></a>Justin Hamilton</h1>
<a href="http://jamiltron.github.com">Home</a> -
<a href="http://jamiltron.github.com/about.html">About</a> -
<a href="https://github.com/jamiltron">Github Profile</a>
<br/>

{{ content }}
</body>
</html>
